.page-footer {
    padding: 25px 0;
    background-color: #222222;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
}

.social-link {
    color: #000;
    text-decoration: none;
    font-size:25px;
    background-color: #fff;
    padding: 8px;
    margin: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    &:hover {
    color: #fff;
    background-color: $maincolor;
    transform: scale(80%);
    }
}